body{
    font-family: monospace;
}
#typewriter {
    font-size: 2.25vw;
    white-space: nowrap; /* Keeps the content on a single line */
    width: 100%;
    margin: 0 auto;
    letter-spacing: 0.05em; /* Adjust as needed */
    text-align: center;
    margin-top: 5rem;
    color: #D7BA7D;
    width: 73%; 
    margin-bottom: 1em;
  }

  html, body {
    margin:0px;
    height:100%;
    background-color: #141414;
    color: #D4D4D4;
    max-width: 100%;
    overflow-x: hidden;
  }
    #header{
      font-size: 5vw;
      position: relative;
      text-align: center;
      padding-top:8rem;
      margin:auto;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: aqua;
      text-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 80px #0fa;
  }
  .subheading{
    float: left;
    padding-left: 2em;
    color: #77c553;
    text-shadow: 0 0 10px #329205, 0 0 4px #51ff00;
    -webkit-text-stroke: 1px #0b250296;
    width: 19vw;
    max-height: 4.5ch;
    overflow: hidden;
  }
  .nametitle{
    color: #CE9178;
    width: fit-content;
  }
  #hb{
      position: relative;
      width: 100vw;
      margin: 0;
      padding: 0;
      height: 40vh;
      text-align: center;
      color: black;
      background-color: black;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("./vscode-bg.png");
      border-bottom: 4px solid black;  
    }
  .btn1{
      width: 100vw;
      margin:auto;
      padding: 0%;
      padding-bottom: 12vh !important;
  }
  .subheading-subtext{
    font-weight: bolder;
    padding-left: 0%;
    float: right;
    width: 77vw;
  }
  #discordbtn{
    margin-left: 4em;
    border: 5px ridge #224;
    background: linear-gradient(135deg, #225, #002);
    padding: 1em;
    width: fit-content;
    border-radius: 9px;
    margin-top: 25vh;
  }
  a{
      color: #A7CEA8;
  }
  a:hover{
    color: #bdff9b;
  }
  a:visited{
    color: #6A9955;
  }
  a:visited:hover{
    color: #99da7b;
  }

  #linkscont{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-size: 14pt;
  }
  #twitterurl{
    color: cyan;
    text-shadow: 0 0 2px cyan, 0 0 6px cyan;
  }
  #instagramurl{
    color: magenta;
    text-shadow: 0 0 2px magenta, 0 0 6px magenta;
  }
  #replurl{
    color: limegreen;
    text-shadow: 0 0 2px limegreen, 0 0 6px limegreen;
  }
  #discordurl{
    color: #4162ce;
    text-shadow: 0 0 2px #4162ce, 0 0 6px #4162ce;
  }